<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="static/css/estilo.css">
    <link rel="stylesheet" href="static/css/normalize.css">  

</head>
<body>
    <style>
        body{
            background-image: url(static/img/fundo-site.jpg) ;
        }
       
    </style>
    
    <div class="topo" 
        style="background-color: darkgrey; opacity: 90%; height: 120px;
               border-bottom: 10px solid white;">
        
        <div>
            <img class="logoboasorte" src="static/img/boasorte.png" alt="logoboasorte" height="120px" width="350px">
        </div>
    
        <div>
            <h4 class="links" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <button><a href="/" style="text-decoration: none;">Home</a></button> 
            
            <button><a href="/portfolio" style="text-decoration: none;">Portfólio</a></button>
            
            <button><a href="/hobbies" style="text-decoration: none;">Hobbies</a></button>
            </h4>
        </div>
    </div>


    {% block conteudo  %}

    {% endblock %}
    <div class="box">
        <div class="rodape">
         <a href="https://facebook.com/diegoboasorte" target="_blank"><img src="static/img/face.png" alt="facebook" height="50px" width="50px"></a>
         <a href="https://instagram.com/diegobsorte" target="_blank"><img src="static//img/insta.png" alt="instagram" height="50px" width="50px"></a>
         <a href="https://wa.me/5512988025195" target="_blank"><img src="static/img/whats.png" alt="whats" height="50px" width="50px"></a>
         <a href="https://linkedin.com/in/diegoboasorte" target="_blank"><img src="static/img/linkedin.png" alt="linkedin" height="50px" width="50px"></a>   
        </div>
    </div>    
    
</body>

</html>