<!DOCTYPE html>
{% extends "base.html" %}


{% block conteudo %}

<body>
    
    <div class="container">
        
        <div class="oval">
            <div class="hobby"><img src="static/img/logo.png" alt="logohobby" height="150px" width="300px"></div>
            <div class="icons">
            <figure>
            <img src="static/img/acamp.png" alt="acamp" height="100px" width="100px">
            <figcaption>Acampamento</figcaption>
            </figure>
            <figure>
            <img src="static/img/dnd.png" alt="dnd" height="100px" width="100px">
            <figcaption>Jogos de Tabuleiro</figcaption>
            </figure>
            <figure>
            <img src="static/img/pc.png" alt="pc" height="100px" width="100px">
            <figcaption>PC Games</figcaption>
            </figure>
            <figure>
            <img src="static/img/sax.png" alt="sax" height="100px" width="100px">
            <figcaption>Saxofone</figcaption>
            </figure>
            <figure>
            <img src="static/img/peixe.png" alt="fish" height="100px" width="100px">
            <figcaption>Pescaria</figcaption>
            </figure>
            <figure>
            <img src="static/img/viagem.png" alt="viagem" height="100px" width="100px">
            <figcaption>Viajar</figcaption>
            </figure>
            </div>
        </div>
        
             
        
    </div>


</body>


{% endblock %} 