
{% extends "base.html" %}


{% block conteudo %}

<body>
    

    <div class="container">
        
        <div class="oval">
            <h1 style="font-size: 42px;">
               <strong>Olá, Sou o Diego Boa Sorte!</strong>
            </h1>
            <p style="font-size: 30px;" class="itsme">

                Brasileiro, 33 anos, casado e com 1 filho, residente na cidade de Caçapava, 
                formado em Técnico em Mecânica e atuando no setor de manutenção industrial.
                Atualmente estudo na Fatec SJC o curso de Desenvolvimento de Software Multiplataforma,
                buscando realizar a migração de carreira profissional.

            </p>

        </div>
        

        <img class= foto src="/static/img/foto.jpeg" alt="foto">
       
        
    </div>
    
    <!-- <img class= foto src="/static/img/foto.jpeg" alt="foto"> -->
       

</body>




{% endblock %} 