
{% extends "base.html" %}


{% block conteudo %}

<body>
    
    <div class="container">
        
        <div class="oval">
            <div class="logo2"><img class="logoboa" src="static/img/gnomosorte.png" alt="logo2" height="400px"></div>

            <h1 style= "text-align: center;">Portfólio</h1>
            <ul class="projetos">
                {% for projeto in projetos %}
                <li>{{ projeto }}</li>
                {% endfor %}     
            </ul>
            <h2 style="text-align: center; padding-left: 10%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Acessem:</h2>
            <p style="font-size: 1.5rem; text-align: center; padding-left: 10%; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <a style="text-decoration: none;" href="https://www.github.com/diegoboasorte">github.com/DiegoBoaSorte</a>
            </p>
        </div>
        
             
        
    </div>


</body>

{% endblock %} 