
{% extends "base.html" %}


{% block conteudo %}

<body>
    
    <div class="container">
        
        <div class="oval">
            <div class="logo2"><img src="/static/img/logo2 (1).png" alt="logo2" height="400px"></div>

            <h1 style="font-size: 42px; text-align: center;">Portfólio</h1>
            <ul style="font-size: 30px;" class="projetos">
                <li>Projeto de Design Digital - Porfólio</li>
                <li>Projeto de Desenvolvimento Web - UNES</li>
                <li>Projeto API Projeto Integrado - DATA SARS</li>        
            </ul>
            <h2 style="text-align: center; padding-left: 10%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Acessem:</h2>
            <p style="font-size: 20px; text-align: center; padding-left: 10%; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <a style="text-decoration: none;" href="https://www.github.com/diegoboasorte">github.com/DiegoBoaSorte</a>
            </p>
        </div>
        
             
        
    </div>


</body>

{% endblock %} 